body {
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.desc {
    column-count: 2;
    line-height: 30pt;
    width: 80%;
    margin: 20px auto;
    font-family: Arial;
}
.ball {
    fill: red;
    animation: play 3s infinite;
}
@keyframes play {
    0% {
        transform: translate(0, 0) rotate(0deg) skew(0deg);
    }
    25% {
        transform: translate(50px, -30px) rotate(90deg) skew(10deg);
    }
    50% {
        transform: translate(0, 0) rotate(180deg) skew(0deg);
    }
    75% {
        transform: translate(-50px, 30px) rotate(270deg) skew(-10deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg) skew(0deg);
    }
}